.container {
    max-width: 1210px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}
.section {
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
.current {
    color: $accentColor;
}